<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="layouts/base::header(dark,${date})"></header>
    <div class="container">
        <div class="card bg-light">
            <div class="LL">
                <img th:src="@{/img/reloj.png}" width="30" height="30" alt="">
                <h3 th:text="#{controlador.turnos.edicion}"></h3>
            </div>
            <div style="margin-left: 7%;margin-top: 1%;">
                    <div>
                    <h3>Lunes</h3>
                            <form method="post" th:object="${turno1}" enctype="multipart/form-data">
                                
                                <input type="hidden" th:field="*{idTurno}"/>
                                <input type="hidden" th:field="*{idEmpleado}"/>
                                <input type="hidden" th:field="*{idDia}"/>
                                
                                <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                <p></p>
                                <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                <p></p>
                                <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">


                                <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                            </form>
                    </div>
                    <div>
                        <h3>Martes</h3>
                                <form method="post" th:object="${turno2}" enctype="multipart/form-data">
                                    
                                    <input type="hidden" th:field="*{idTurno}"/>
                                    <input type="hidden" th:field="*{idEmpleado}"/>
                                    <input type="hidden" th:field="*{idDia}"/>
                                    
                                    <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                    <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                    <p></p>
                                    <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                    <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                    <p></p>
                                    <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                    <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
    
    
                                    <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                </form>
                        </div>
                        <div>
                            <h3>Miércoles</h3>
                                    <form method="post" th:object="${turno3}" enctype="multipart/form-data">
                                        
                                        <input type="hidden" th:field="*{idTurno}"/>
                                        <input type="hidden" th:field="*{idEmpleado}"/>
                                        <input type="hidden" th:field="*{idDia}"/>
                                        
                                        <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                        <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                        <p></p>
                                        <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                        <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                        <p></p>
                                        <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                        <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
        
        
                                        <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                    </form>
                            </div>
                            <div>
                                <h3>Jueves</h3>
                                        <form method="post" th:object="${turno4}" enctype="multipart/form-data">
                                            
                                            <input type="hidden" th:field="*{idTurno}"/>
                                            <input type="hidden" th:field="*{idEmpleado}"/>
                                            <input type="hidden" th:field="*{idDia}"/>
                                            
                                            <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                            <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                            <p></p>
                                            <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                            <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                            <p></p>
                                            <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                            <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
            
            
                                            <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                        </form>
                                </div>
                                <div>
                                    <h3>Viernes</h3>
                                            <form method="post" th:object="${turno5}" enctype="multipart/form-data">
                                                
                                                <input type="hidden" th:field="*{idTurno}"/>
                                                <input type="hidden" th:field="*{idEmpleado}"/>
                                                <input type="hidden" th:field="*{idDia}"/>
                                                
                                                <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                                <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                                <p></p>
                                                <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                                <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                                <p></p>
                                                <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                                <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
                
                
                                                <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                            </form>
                                    </div>
                                    <div>
                                        <h3>Sábado</h3>
                                                <form method="post" th:object="${turno6}" enctype="multipart/form-data">
                                                    
                                                    <input type="hidden" th:field="*{idTurno}"/>
                                                    <input type="hidden" th:field="*{idEmpleado}"/>
                                                    <input type="hidden" th:field="*{idDia}"/>
                                                    
                                                    <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                                    <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                                    <p></p>
                                                    <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                                    <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                                    <p></p>
                                                    <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                                    <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
                    
                    
                                                    <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                                </form>
                                        </div>
                                        <div>
                                            <h3>Domingo</h3>
                                                    <form method="post" th:object="${turno7}" enctype="multipart/form-data">
                                                        
                                                        <input type="hidden" th:field="*{idTurno}"/>
                                                        <input type="hidden" th:field="*{idEmpleado}"/>
                                                        <input type="hidden" th:field="*{idDia}"/>
                                                        
                                                        <td th:text="#{controlador.turnos.horaentrada}">Hora Entrada</td>
                                                        <input type="text" th:field="*{hora_entrada}" th:value="${turno1.hora_entrada}">
                                                        <p></p>
                                                        <td th:text="#{controlador.turnos.horasalida}">Hora Salida</td>
                                                        <input type="text" th:field="*{hora_salida}" th:value="${turno1.hora_salida}">
                                                        <p></p>
                                                        <td th:text="#{controlador.turnos.duracion}">Duración de la jornada</td>
                                                        <input type="text" th:field="*{minutos_jornada}" th:value="${turno1.minutos_jornada}">
                        
                        
                                                        <button type="submit" th:action="@{gestiona_turnos/editar_turno/} + ${turno1.idEmpleado}" th:text="#{empleados.acciones.guardar}"  class="btn btn-outline-primary" style="margin-left: 2%;margin-top: 1%;"></button>
                                                    </form>
                                            </div>
                                </div>
                            </body>
</html>