<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8">
</head>

<body>
	<header th:replace="layouts/base::header(dark,${date})"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3
					th:text="${accion} == 'guardar' ? #{puestos.formulario.titulo.nuevo} : #{puestos.formulario.titulo.editar}">
				</h3>
			</div>
			<div class="card-body">
				<!-- Mostrar los errores en una lista -->
				<div th:object="${puesto}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
						<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
				<form th:action="@{${accion}}" th:object="${puesto}" method="post">
					<!-- <input type="hidden" th:field="*{email}" /> -->
					<p th:if="${result}" th.object="${result}" th:text="${result}" class="alert alert-danger"></p>
					<!--p class="alert alert-danger" th:each="error: ${result}"
						th:text="${error.field}+': '+${error.defaultMessage}"></p-->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.id_puesto}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{id_puesto}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('id_puesto')}"
								th:errors="*{id_puesto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.nombre_puesto}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre_puesto}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre_puesto')}"
								th:errors="*{nombre_puesto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.desc_puesto}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{desc_puesto}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('desc_puesto')}"
								th:errors="*{desc_puesto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.sueldo_orientativo}"></label>
						<div class="col-sm-6">
							<input type="number" th:field="*{sueldo_orientativo}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('sueldo_orientativo')}"
								th:errors="*{sueldo_orientativo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.req_exp_form}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{req_exp_form}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('req_exp_form')}"
								th:errors="*{req_exp_form}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.req_idiomas}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{req_idiomas}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('req_idiomas')}"
								th:errors="*{req_idiomas}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.rec_disponibilidad}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{req_disponibilidad}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('req_disponibilidad')}"
								th:errors="*{rec_disponibilidad}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.rec_otros}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{req_otros}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('req_otros')}"
								th:errors="*{req_otros}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.depto}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{depto}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('depto')}"
								th:errors="*{depto}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{puestos.puesto.estado}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{estado}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}"
								th:errors="*{estado}"></small>
						</div>
					</div>
					<div th:object="${puesto}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
							<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
						</ul>
					</div>
					<!--div th:if="${#fields.hasAnyErrors()}">
						<ul>
							<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
						</ul>
					</div-->
					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" th:value="#{puestos.acciones.guardar}" class="btn btn-outline-primary">
							<a th:href="@{${accion} == 'guardar' AND !${#fields.hasErrors('*')} ? 'lista' : '/puestos/crear'}"
								class="btn btn-outline-danger" th:text="#{puestos.acciones.cancelar}"></a>
							<!--a th:href="@{${accion} == 'guardar' OR ${#fields.hasErrors('*')} ? 'lista' : '../lista'}"
								class="btn btn-outline-danger" th:text="#{puestos.acciones.cancelar}"></a-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!--footer th:replace="layouts/base::footer(dark)"></footer-->
</body>

</html>