<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layouts/base::head(light,${date})">
    <meta charset="UTF-8" />
</head>

<body>
    <header th:replace="layouts/base::header(dark,${date})"></header>

    <div style="padding-top: 1%;" class="FFF">
        <h1>Registrar entrada y salida</h1>
    


        <div class="container">
            <p th:if="${error}" class="alert alert-danger" th:text="${error}?${error}:''"></p>
            <h1 class="title-bar">Fichaje de hoy:</h1>
            <div th:if="${jor}" style="display:flex;flex-direction: row;justify-content: space-around;" class="title-bar">
                <span th:if="${jor.hora_entrada}">
                <h4 class="title-bar" th:text=" ${jor}? 'Entrada: '+${jor.hora_entrada}:''"></h4></span>
<span th:if="${jor.hora_salida}">
                <h4 class="title-bar" th:text=" ${jor}?'Salida: '+ ${jor.hora_salida}:''"></h4></span>
            </div> 
           

           
            <div class="button-container">
                <form th:action="@{/fichar/entrada}" method="post">
                    <button type="submit" class="buttone">Fichar entrada</button>
                </form>
                <form th:action="@{/fichar/salida}" method="post">
                    <button type="submit" class="buttons">Fichar salida</button>
                </form>
            </div>
        </div>
    </div>
    <div id="error" class="error" th:text="${error}"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        if ("[[${error}]]" != "") {
            showError();
        }
        /*]]>*/
    </script>

</body>

</html>