<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layouts/base::head(light,${date})">
    <meta charset="UTF-8" />
</head>

<body>
    <header th:replace="layouts/base::header(dark,${date})"></header>

    <div class="LL">
        <h1>Escoge una acción, y que no se te olvide fichar</h1>
    </div>

    <div class="container">
        <h1 class="title-bar">Fichaje :</h1>
        <div class="button-container">
            <form th:action="@{/fichar/entrada}" method="post">
                <button type="submit" class="entrada">Fichar entrada</button>
            </form>
            <form th:action="@{/fichar/salida}" method="post">
                <button type="submit" class="salida">Fichar salida</button>
            </form>
        </div>
    </div>
    <div id="error" class="error" th:text="${error}"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        if ("[[${error}]]" != "") {
            showError();
        }
        /*]]>*/
    </script>

</body>

</html>