<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="layouts/base::header(dark)"></header>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3 th:text="#{tfgs.lista.titulo}"></h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{tfgs.TFG.email}"></th>
							<th th:text="#{tfgs.TFG.nombre}"></th>
							<th th:text="#{tfgs.TFG.titulo}"></th>
							<th th:text="#{tfgs.TFG.tutor}"></th>
							<th th:text="#{tfgs.TFG.pass}"></th>

							<span sec:authorize="isAuthenticated()">
								<th th:text="#{tfgs.TFG.status}"></th>		
								<th th:text="#{tfgs.TFG.memoria}"></th>
							</span>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>			
						</tr>
					</thead>
					<tbody>
						<tr th:each="TFG: ${tfgs}">
							<td th:text="${TFG.email}"></td>
							<td th:text="${TFG.nombre}"></td>
							<td th:text="${TFG.titulo}"></td>
							<td th:text="${TFG.tutor}"></td>
							<span sec:authorize="isAuthenticated()">
								<td th:text="${TFG.status}"></td>
								<td>
									<form method="post" th:action="@{/upload}" th:object="${TFG}" enctype="multipart/form-data">
										<div class="form-group">
											<input type="hidden" th:value="${TFG.email}" name="email">
											<input type="file" name="file" class="form-control-file">
										<button type="submit" class="btn btn-outline-primary">Upload File</button>
									</div></form>
								</td>
								<td><a th:href="@{download/} + ${TFG.email}" th:text="#{tfgs.acciones.memoria}" class="btn btn-outline-primary"></a>
								</td>
								<td>
									<a th:href="@{editar/} + ${TFG.email}" th:text="#{tfgs.acciones.editar}" class="btn btn-outline-primary"></a>
								</td><td>	
									<a th:href="@{eliminar/} + ${TFG.email}" th:text="#{tfgs.acciones.eliminar}" class="btn btn-outline-danger"></a>
								</td><td>
									<a th:href="@{aceptar/} + ${TFG.email}" th:text="#{tfgs.acciones.aceptar}" class="btn btn-outline-danger"></a>
								</td>
							</span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block" th:text="#{tfgs.acciones.anadir}"></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layouts/base::footer(dark)"></footer>
</body>
</html>