<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8" />
</head>

<body>
	<header th:replace="layouts/base::header(dark,${date})"></header>

	<div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<div class="LL">
					<img th:src="@{/img/nomina_icono2.png}" width="50" height="50" alt="">
					<h3 th:text="#{remesa.lista.titulo}"></h3>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<div class="wrap">
								<th th:text="#{remesa.remesa.idRemesa}">idRemesa</th>
								<th th:text="#{remesa.remesa.periodo}">Periodo</th>
								<th th:text="#{remesa.remesa.tipo_nomina}">Tipo</th>
								<th th:text="#{remesa.remesa.estado}">Estado</th>
								<th th:text="#{remesa.remesa.bruto}">Bruto</th>
								<th th:text="#{remesa.remesa.neto}">Neto</th>

							</div>
						</tr>
					</thead>
					<tbody>
						<tr th:each="remesa: ${remesa}">
							<div class="wrap">
								<td th:text="${remesa.idRemesa}"></td>
								<td th:text="${remesa.ejercicio + '-' + remesa.mes+''}"></td>
								<td
									th:text="${remesa.tipo_nomina == '1' ? 'Ordinaria' : (remesa.tipo_nomina == '2' ? 'Extra' : 'Otros')}">
								</td>
								<td
									th:text="${remesa.estado == '1' ? 'Pendiente' : (remesa.estado == '2' ? 'Calculada' : (remesa.estado == '3' ? 'Emitida' : (remesa.estado == '4' ? 'Pagada' : 'Otros'))) }">
								</td>
								<td th:text="${#numbers.formatCurrency(remesa.bruto)}"></td>
								<td th:text="${#numbers.formatCurrency(remesa.neto)}"></td>


								<td>
									<a th:if="${remesa.estado == '1'}" th:href="@{calcular/} + ${remesa.idRemesa}"
										th:text="#{remesa.acciones.calcular}" class="btn btn-outline-primary"></a>
								</td>

								<td>
									<a th:if="${remesa.estado > '1'}" th:href="@{recibos/} + ${remesa.idRemesa}"
										th:text="#{remesa.acciones.recibos}" class="btn btn-outline-primary"></a>
								</td>

								<td>
									<a th:if="${remesa.estado == '1'}" th:href="@{editar/} + ${remesa.idRemesa}"
										th:text="#{remesa.acciones.editar}" class="btn btn-outline-primary"></a>
								</td>

								<td th:if="${remesa.estado == '1' or remesa.estado == '2'}">
									<a th:href="@{eliminar/} + ${remesa.idRemesa}" th:text="#{remesa.acciones.eliminar}"
										class="btn btn-outline-danger"
										onclick="return confirm('¿Está seguro que desea eliminar esta remesa?')"></a>
								</td>

								<td>
									<a th:if="${remesa.estado >= '2'}" th:href="@{emitir/} + ${remesa.idRemesa}"
										th:text="#{remesa.acciones.emitir}" class="btn btn-outline-danger"></a>
								</td>

								<td>
									<a th:if="${remesa.estado == '3'}" th:href="@{pagar/} + ${remesa.idRemesa}"
										th:text="#{remesa.acciones.pagar}" class="btn btn-outline-primary"></a>
								</td>

							</div>
							</span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block"
									th:text="#{remesa.acciones.anadir}"></a>
							</td>
							<td colspan="2">
								<a th:href="@{/}" class="btn btn-outline-primary btn-block"
									th:text="#{remesa.lista.volver}"></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/base::footer(light)"></footer>
</body>

</html>