<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8" />
</head>

<body >
	<header  th:replace="layouts/base::header(dark,${date})"></header>

	<div style="max-width:100%" class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3 th:text="#{candidatos.lista.titulo}"></h3>
			</div>
			<div class="card-body">
				<table style="table-layout: fixed;
				width: 100%; " class="table table-striped" >
					<thead>
						<tr >
							<div >
								<th style="font-size:1vw;" th:text="#{candidatos.candidato.idcandidato}">id_candidato</th>
								<th style="font-size:1vw;" th:text="#{candidatos.candidato.nombre}">Nombre</th>
								<th style="font-size:1vw;" th:text="#{candidatos.candidato.apellido_1}">Apellido 1</th>
								<th style="font-size:1vw;"th:text="#{candidatos.candidato.apellido_2}">Apellido 2</th>
								<th style="font-size:1vw;"th:text="#{candidatos.candidato.email}">Email</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.form_experiencia}">Experiencia</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.idiomas}">Idiomas</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.disponibilidad}">Disponibilidad</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.curriculum}">Curriculum</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.puesto}">Puesto</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.notas_reclutador}">Notas reclutador</th>
                                <th style="font-size:1vw;"th:text="#{candidatos.candidato.preseleccionado}">Preseleccionado</th>
								<th style="font-size:1vw;">edit</th>
						



							</div>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width:100%" th:each="Candidato: ${candidato}">
							<div   class="wrap">
								<td th:text="${Candidato.idcandidato}"></td>
								<td th:text="${Candidato.nombre}"></td>
								<td th:text="${Candidato.apellido_1}"></td>
								<td th:text="${Candidato.apellido_2}"></td>
                                <td th:text="${Candidato.email}"></td>
								<td th:text="${Candidato.form_Experiencia}"></td>
                                <td th:text="${Candidato.idiomas}"></td>
                                <td th:text="${Candidato.disponibilidad}"></td>
                                <td th:text="${Candidato.curriculum}"></td>
                                <td th:text="${Candidato.puesto}"></td>
                                <td th:text="${Candidato.notas_reclutador}"></td>
                                <td th:text="${Candidato.preseleccionado}"></td>
                                
								<!--td>
									<a th:href="@{editar/} + ${Candidato.idcandidato}" th:text="#{candidatos.acciones.editar}"
										class="btn btn-outline-primary"></a>
								</td-->
								<td>
									<a th:href="@{eliminar/} + ${Candidato.idcandidato}"
										th:text="#{candidatos.acciones.eliminar}" class="btn btn-outline-danger"></a>
								</td>
								<!--td>
									<a th:href="@{aceptar/} + ${Candidato.idcandidato}"
										th:text="#{candidatos.acciones.aceptar}" class="btn btn-outline-danger"></a>
								</td-->
							</div>
							</span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block"
									th:text="#{candidatos.acciones.anadir}"></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/base::footer(light)"></footer>
</body>

</html>