<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(light)">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="layouts/base::header(dark)"></header>

	<div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3 th:text="#{empleados.lista.titulo}"></h3>
			</div>
			<div class="card-body">
				
				<table class="table table-striped">
					<thead>
						<tr><div class="wrap">
							<th th:text="#{empleados.Empleado.email}">email</th>
							<th th:text="#{empleados.Empleado.password}">password</th>
						
						
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
						
						</div>	
						</tr>
					</thead>
					<tbody>
						<tr th:each="Empleado: ${empleados}">
							<div class="wrap">
							<td th:text="${Empleado.email}"></td>
							<td th:text="${Empleado.password}"></td>
				
								<td>
									<form method="post" th:action="@{/upload}" th:object="${Empleado}" enctype="multipart/form-data">
										<div class="form-group">
											<input type="hidden" th:value="${Empleado.email}" name="email">
											<input type="file" name="file" class="form-control-file">
										<button type="submit" th:text="#{empleados.acciones.subir}"  class="btn btn-outline-primary"></button>
									</div></form>
								</td>
								<td><a th:href="@{download/} + ${Empleado.email}" th:text="#{empleados.acciones.memoria}" class="btn btn-outline-primary"></a>
								</td>
								<td>
									<a th:href="@{editar/} + ${Empleado.email}" th:text="#{empleados.acciones.editar}" class="btn btn-outline-primary"></a>
								</td><td>	
									<a th:href="@{eliminar/} + ${Empleado.email}" th:text="#{empleados.acciones.eliminar}" class="btn btn-outline-danger"></a>
								</td><td>
									<a th:href="@{aceptar/} + ${Empleado.email}" th:text="#{empleados.acciones.aceptar}" class="btn btn-outline-danger"></a>
								</td>
							</div>
							</span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block" th:text="#{empleados.acciones.anadir}"></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layouts/base::footer(light)"></footer>
</body>
</html>