<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8">
</head>

<body>
	<header th:replace="layouts/base::header(dark,${date})"></header>

    <div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3 th:text="'Procesos de selección'"></h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<div class="wrap">
								<th th:text="#{puestos.puesto.nombre_puesto}">Puesto</th>
								<th>Id</th>
                                <th >Estado</th> <th >Candidatos</th>
                               



							</div>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Puesto: ${puesto}">
							<div class="wrap">
								<td th:text="${Puesto.nombre}"></td>
								<td th:text="${Puesto.id_puesto}"></td>

								<td th:text="${Puesto.estado} == '1' ? 'Selección final':'Selección inicial'" ></td>
							
							
								<td>
									<a th:href="${Puesto.estado}==0 ? @{procesos/seleccioni/} + ${Puesto.id_puesto}:@{procesos/seleccionf/} + ${Puesto.id_puesto}"
										th:text="#{puestos.acciones.candidatos}" class="btn btn-outline-danger"></a>
								</td>
							</div>
							</span>
						</tr>
					</tbody>
					<!--tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{puestos/crear}" class="btn btn-outline-primary btn-block"
									th:text="#{puestos.acciones.anadir}"></a>
							</td>
						</tr>
					</tfoot-->
				</table>
			</div>
		</div>
	</div>
</body>

</html>