<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head(light,${date})">
	<meta charset="UTF-8">
</head>

<body>
	<header th:replace="layouts/base::header(dark,${date})"></header>



    <div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3 th:text="'Candidatos finales'"></h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<div class="wrap">
								<th th:text="#{candidatos.candidato.nombre}"></th>
						
								<th >Datos</th>
                                <th >Contratar</th>

                   
							</div>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Candidato: ${candidato}">
							<div class="wrap">
								<td th:text="${Candidato.nombre}+' '+${Candidato.apellido_1}+' '+${Candidato.apellido_2}"></td>
						
                                <td>
									<a th:href="@{candidatos/datos/} + ${Candidato.idcandidato}" 
										class="btn btn-outline-primary">Acceder</a>
								</td>

									<td><a class="btn btn-outline-secondary" th:href="@{/procesos/contratar/}+${ip}+'/'+${Candidato.idcandidato}"
                                        th:text="'Contratar'"></a></td>
                                <!--td th:text="${Candidato.preseleccionado}"></td-->
								<!--td>
									<a th:href="@{aceptar/} + ${Candidato.idcandidato}"
										th:text="#{candidatos.acciones.aceptar}" class="btn btn-outline-danger"></a>
								</td-->
							</div>
							</span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
                                <div style="display: flex; flex-direction: row;align-items: baseline; margin-left: 10%;">
							
                                </div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>



</body>

</html>