<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head(light,${date})">
    <meta charset="UTF-8">
</head>

<body>
    <header th:replace="layouts/base::header(dark,${date})"></header>



    <div class="container">
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

        <div class="card bg-light">
            <div class="card-header">
                <h3 th:text="#{candidatos.lista.titulo}"></h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <div class="wrap">
                                <th th:text="#{candidatos.candidato.nombre}"></th>

                                <th th:text="'Datos'"></th>
                                <th th:text="'Pasar a selección final'"></th>

                            </div>
                        </tr>
                    </thead>
                    <tbody>
                            <tr th:each="Candidato,i : ${candidato}" >
                                <div class="wrap">

                                <td
                                    th:text="${Candidato.nombre}+' '+${Candidato.apellido_1}+' '+${Candidato.apellido_2}">
                                </td>

                                <td>
                                    <a th:href="@{candidatos/datos/} + ${Candidato.idcandidato}"
                                        class="btn btn-outline-secondary">Acceder</a>
                                </td>
                                <!--input type="hidden" th:value="${idcandidato}" th:field="*{idcandidato}"-->
                                <!--td>   <input type="submit" th:value="'Seleccionar'"
                                        class="btn btn-outline-primary">
                                 </td-->
                                <td><a class="btn btn-outline-secondary" th:href="@{/procesos/pasaruno/}+${ip}+'/'+${Candidato.idcandidato}"
                                        th:text="'seleccionar'"></a></td>
                                <td th:text="${Candidato.preseleccionado}"></td>
                                <!--td>

                                <input class="navbar-toggler-icon" type="checkbox" data-toggle="toggle"
                                th:checked="${Candidato.preseleccionado}"
                                th:field="*{nombre}"
                                th:name="#{candidatos.candidato.preseleccionado}"/></td>
                                <td th:text="${Candidato.preseleccionado}"></td-->


                                <!--td>
									<a th:href="@{aceptar/} + ${Candidato.idcandidato}"
										th:text="#{candidatos.acciones.aceptar}" class="btn btn-outline-danger"></a>
								</td-->
                            </div>

                            </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div
                                    style="display: flex; flex-direction: row;align-items: baseline; margin-left: 50%;">

                                    <a th:href="@{/candidatos/crear}" class="btn btn-outline-primary btn-block"
                                        th:text="#{candidatos.acciones.anadir}"></a>

                                    <a th:href="@{/procesos/pasartodos/}+${ip}"
                                        class="btn btn-outline-primary btn-block"
                                        th:text="'Pasar a seleccion final'"></a>




                                    <!--input  type="submit" >
                                    <a th:href="@{/procesos/seleccionf/}+${ip}" class="btn btn-outline-primary btn-block"
									>Pasar a selección final</a-->





                                    <a th:href="@{/puestos/}+${ip}+'/cerrar'"
                                        class="btn btn-outline-primary btn-block">Cerrar proceso</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>



</body>

</html>