
.container {
	margin-top: 20px;
}
.FF {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.RR {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

footer {
	position: fixed;
	bottom: 0;
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: center;
}

footer .info-copyrigth {
	display: inline-block;
}


header .idiomas {
	padding: 0 10px;
}
